
.productCard {
    border: solid 1px gray;
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    
}

.productImage {
    width: 100%;
}

.text {
    padding: 0px 25px 25px 25px;
}

@media (max-width: 1024px) {
    .productCard {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}